:root {
  --faint: rgba(0, 0, 0, 0.1);
  --text-main: black;
  --primary: rgb(122, 100, 140);
  --panels: white;
  --off-panel: white;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* word-break: break-all; */
}

html, body, #root {
  min-height: 100vh;
}

body {
  margin: 0;
  background-image: url("https://wallpapercave.com/wp/wp3396930.jpg");
  background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

header, header a {
  text-align: center;
  color: var(--off-panel);
}

a {
  text-decoration: none;
  color: var(--text-main);
}

#root {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

#container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
  padding: 1rem;
  width: 1200px;
  max-width: 100%;
  margin: auto;
}

#container > * {
  border: 1px solid var(--faint);
  padding: .5rem;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0 5px var(--faint);
  background-color: var(--panels);
}

.headline {
  background-color: var(--primary);
  padding: .5rem;
  border-radius: .5rem;
  margin: .5rem;
  cursor: pointer;
}

.headline:hover {
  background-color: gray;
}

#article-page-article img {
  max-width: 100%;
}

footer {
  background-color: var(--panels);
  text-align: center;
}